<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hqu.spzx.manager.mapper.BrandMapper">
    <sql id="columns">
        id,name,logo,create_time,update_time
    </sql>
    <insert id="save">
        insert into brand (name,logo,create_time,update_time) values (#{name}.#{logo},now(),now()) where is_deleted=0
    </insert>
    <update id="updateById">
        update brand
        <set>
            <if test="name!=null||name!=''">
                name=#{name},
            </if>
            <if test="logo!=null||logo!=''">
                logo=#{logo},
            </if>
                create_time=now(),update_time=now()
        </set>
        from brand where is_deleted=0
    </update>
    <update id="deleteById">
        update brand set is_deleted=1
    </update>
    <select id="findByPage" resultType="com.hqu.spzx.model.entity.product.Brand">
        select <include refid="columns"></include> from brand where is_deleted=0
    </select>
    <select id="findAll" resultType="com.hqu.spzx.model.entity.product.Brand">
        select <include refid="columns"></include> from brand where is_deleted=0
    </select>
    <select id="getById" resultType="com.hqu.spzx.model.entity.product.Brand">
        select <include refid="columns"></include> from brand where id=#{brandId}
    </select>
</mapper>