<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hqu.spzx.manager.mapper.OrderInfoMapper">


    <select id="selectOrderStatistics" resultType="com.hqu.spzx.model.entity.order.OrderStatistics">
        select DATE_FORMAT(create_time,'%y-%m-%d') order_date,SUM(total_amount) total_amount,COUNT(id) total_num
        from order_info
        WHERE DATE_FORMAT(create_time,'%y-%m-%d')=#{create_time}
        GROUP BY (DATE_FORMAT(create_time,'%y-%m-%d'))
    </select>
    <select id="getOrderStatisticsData" resultType="com.hqu.spzx.model.entity.order.OrderStatistics">
        select * from order_statistics
        where
        <if test="createTimeBegin !=null and createTimeBegin != '' ">
            order_date &gt;=#{createTimeBegin} and
        </if>
        <if test="createTimeEnd != null and createTimeEnd != '' ">
            order_date &lt;=#{createTimeEnd} and
        </if>
        is_deleted=0
    </select>


</mapper>